@using Our.Umbraco.DocTypeGridEditor.Web.Extensions
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Our.Umbraco.DocTypeGridEditor.Web.PreviewModel>
@using System.Web.Mvc
@using YuzuDelivery.Core;
@using YuzuDelivery.Umbraco.Grid;
@{ var gridItem = Html.GridPartial(Model.Item); }
<span class="yuzu-back-office" style="all: initial; pointer-events: none;">
    @Html.RenderFETemplate(new RenderSettings()
{
        Template = string.Format("par{0}", Model.Item.GetType().Name),
        Data = () => { return gridItem.CreateVm(Model.Item, new Dictionary<string, object>() { { "HtmlHelper", Html } }); },
        ShowJson = false
    })
</span>
