<!doctype html>
<html data-frontend-environment="true">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">	
		
		<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">

		<link rel="stylesheet" href="/_client/fonts/icomoon/style.css">
		<link rel="stylesheet" href="/_client/fonts/flaticon/font/flaticon.css">
		
		<link rel="stylesheet" href="/_client/css/bootstrap.min.css">
		<link rel="stylesheet" href="/_client/css/jquery-ui.css">
		<link rel="stylesheet" href="/_client/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/_client/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/_client/css/jquery.fancybox.min.css">
		<link rel="stylesheet" href="/_client/css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="/_client/css/aos.css">

		<link rel="stylesheet" href="/_client/styles/style.css">
	</head>
	<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
		<script src="/yuzu-def-ui/websocketClient.js" defer></script>
		
		<div class="site-wrap">
			<div  class="site-mobile-menu site-navbar-target">
			    <div class="site-mobile-menu-header">
			        <div class="site-mobile-menu-close mt-3">
			            <span class="icon-close2 js-menu-toggle"></span>
			        </div>
			    </div>
			    <div class="site-mobile-menu-body"></div>
			</div>   
			
			<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
			    <div class="container-fluid">
			        <div class="d-flex align-items-center">
			            <div class="site-logo mr-auto w-25">
			                <a href="/">
			                        <div class="site-header__company-name">
			                            OneSchool
			                        </div>
			                                    </a>
			            </div>
			            <div  class="mx-auto text-center">
			                    <nav class="site-navigation position-relative text-right" role="navigation">
			                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
			                                <li><a class="nav-link" href="#home-section" title="">Home</a></li>
			                                <li><a class="nav-link" href="#courses-section" title="">Courses</a></li>
			                                <li><a class="nav-link" href="#programs-section" title="">Programs</a></li>
			                                <li><a class="nav-link" href="#teachers-section" title="">Teachers</a></li>
			                        </ul>
			                    </nav>
			            </div>
			            
			            <div class="ml-auto w-25">
			                    <nav class="site-navigation position-relative text-right" role="navigation">
			                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
			                            <li class="cta"><a class="nav-link" href="#contact-section" title=""><span>Contact Us</span></a></li>
			                        </ul>
			                    </nav>
			                <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right">
			                    <span class="icon-menu h3"></span>
			                </a>
			            </div>        </div>
			    </div>
			</header>			<div class="content-root">
				        <div  class="
                intro-section
                
                
                
            " 
            id="home-section"
        >
                    <div data-yuzu="/content/rows[0]/items[0]" class="intro-section" id="home-section">
        <div class="slide-1" style="background-image: url('/_client/images/hero_1.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4">
                                    <h1 data-aos="fade-up" data-aos-delay="100">Learn From The Expert</h1>
                                    <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.</p>                                
                                    <p data-aos="fade-up" data-aos-delay="300">
                                            <a class="btn btn-primary py-3 px-5 btn-pill" href="#" title="">Admission Now</a>
                                    </p>
                            </div>
                            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                    <div class="form-box">
                                            <h3 class="h4 text-black mb-4">Sign up</h3>
                                            <form data-yuzu="/content/rows[0]/items[0]/signupForm/form" action="#">
                                                
                                        
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <label  class="d-block mb-0" title="">
                                        	<input
                                        		class="form-control" 
                                        		type="email" 
                                        		autocomplete="off"
                                        		
                                        		name="email-address" 
                                        		placeholder="Email Address" 
                                        		 
                                        		 
                                        		
                                        		
                                        		
                                        	>
                                        	<span class="sr-only"></span>
                                        </label>
                                        
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <label  class="d-block mb-0" title="">
                                        	<input
                                        		class="form-control" 
                                        		type="password" 
                                        		autocomplete="off"
                                        		
                                        		name="password" 
                                        		placeholder="Password" 
                                        		 
                                        		 
                                        		
                                        		
                                        		
                                        	>
                                        	<span class="sr-only"></span>
                                        </label>
                                        
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-12">
                                                        <label  class="d-block mb-0" title="">
                                        	<input
                                        		class="form-control" 
                                        		type="password" 
                                        		autocomplete="off"
                                        		
                                        		name="password-reenter" 
                                        		placeholder="Re-type Password" 
                                        		 
                                        		 
                                        		
                                        		
                                        		
                                        	>
                                        	<span class="sr-only"></span>
                                        </label>
                                        
                                                    </div>
                                                </div>
                                        
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button class="btn btn-primary btn-pill" type="submit" >
                                                    Sign Up
                                                </button>
                                            </div>
                                        </div>
                                        
                                            </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <div  class="
                site-section
                pt-0
                
                
            " 
            id="courses-section"
        >
                        <div data-yuzu="/content/rows[1]/items[0]" class="site-section courses-title 
                
            "
        >
            <div class="container">
                <div class="row mb-5 justify-content-center">
                    <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                        <h2 class="section-title">
                            Courses
                        </h2>
                    </div>
                </div>
            </div>
        </div>    
        <div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
            <div class="container">
                <div class="row">
                    <div class="owl-carousel col-12 nonloop-block-14">
                            <div class="course bg-white h-100 align-self-stretch">
                                <figure class="m-0">
                                    <a href="" title="">
                                            <img class="img-fluid" src="/_client/images/img_1.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="course-inner-text py-4 px-4">
                                    <span class="course-price">
                                            £99
                                    </span>
                                        <div class="meta">
                                            <span class="icon-clock-o"></span>
                                            4 lessons / 12 weeks
                                        </div>
                                        <h3><a href="" title="">Logo design course</a></h3>                                        
                                        <p>Lorem ipsum</p>
                                </div>
                                <div class="d-flex border-top stats">
                                    <div class="py-3 px-4"><span class="icon-users"></span> 
                                            1,567
                                    </div>
                                    <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 
                                        2              
                                    </div>
                                </div>
                            </div>
                            <div class="course bg-white h-100 align-self-stretch">
                                <figure class="m-0">
                                    <a href="" title="">
                                            <img class="img-fluid" src="/_client/images/img_2.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="course-inner-text py-4 px-4">
                                    <span class="course-price">
                                            £54
                                    </span>
                                        <div class="meta">
                                            <span class="icon-clock-o"></span>
                                            4 lessons / 1 week
                                        </div>
                                        <h3><a href="" title="">JS course</a></h3>                                        
                                        <p>Lorem ipsum</p>
                                </div>
                                <div class="d-flex border-top stats">
                                    <div class="py-3 px-4"><span class="icon-users"></span> 
                                            255
                                    </div>
                                    <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 
                                        0              
                                    </div>
                                </div>
                            </div>
                            <div class="course bg-white h-100 align-self-stretch">
                                <figure class="m-0">
                                    <a href="" title="">
                                            <img class="img-fluid" src="/_client/images/img_3.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="course-inner-text py-4 px-4">
                                    <span class="course-price">
                                            £99
                                    </span>
                                        <div class="meta">
                                            <span class="icon-clock-o"></span>
                                            5 lessons / 6 weeks
                                        </div>
                                        <h3><a href="" title="">Law of physics</a></h3>                                        
                                        <p>Lorem ipsum</p>
                                </div>
                                <div class="d-flex border-top stats">
                                    <div class="py-3 px-4"><span class="icon-users"></span> 
                                            20
                                    </div>
                                    <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 
                                        9              
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-7 text-center">
                        <button class="customPrevBtn btn btn-primary m-1">Prev</button>
                        <button class="customNextBtn btn btn-primary m-1">Next</button>
                    </div>
                </div>
            </div>
        </div>
    
        </div>
        <div  class="
                site-section
                
                
                
            " 
            id="programs-section"
        >
                    <div data-yuzu="/content/rows[2]/items[0]" class="">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                        <h2 class="section-title">
                            Our programs
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
                </div>
            </div>
        </div>
    </div>
                    <div data-yuzu="/content/rows[2]/items[1]" class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img class="img-fluid" src="/_client/images/undraw_youtube_tutorial.svg" alt=""/>
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">
                        We Are Excellent In Education
                </h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime nam porro possimus fugiat quo molestiae illo.</p>
                        <div class="d-flex align-items-center custom-icon-wrap mb-3">
                                <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                <div>
                                    <h3 class="m-0">22,931 Yearly Graduates</h3>
                                </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap">
                                <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                <div>
                                    <h3 class="m-0">150 Universities Worldwide</h3>
                                </div>
                        </div>
    
            </div>
        </div>
    </div>
                    <div data-yuzu="/content/rows[2]/items[2]" class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                    <img class="img-fluid" src="/_client/images/undraw_teaching.svg" alt=""/>
            </div>
            <div class="col-lg-4 ml-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">
                        Strive for Excellence
                </h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime nam porro possimus fugiat quo molestiae illo.</p>
                        <div class="d-flex align-items-center custom-icon-wrap mb-3">
                                <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                <div>
                                    <h3 class="m-0">22,931 Yearly Graduates</h3>
                                </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap">
                                <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                <div>
                                    <h3 class="m-0">150 Universities Worldwide</h3>
                                </div>
                        </div>
    
            </div>
        </div>
    </div>
                    <div data-yuzu="/content/rows[2]/items[3]" class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <img class="img-fluid" src="/_client/images/undraw_teacher.svg" alt=""/>
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4">
                        Education is for life
                </h2>
                        <div class="d-flex align-items-center custom-icon-wrap mb-3">
                                <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                                <div>
                                    <h3 class="m-0">22,931 Yearly Graduates</h3>
                                </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap">
                                <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
                                <div>
                                    <h3 class="m-0">150 Universities Worldwide</h3>
                                </div>
                        </div>
    
            </div>
        </div>
    </div>
        </div>
        <div  class="
                site-section
                
                pb-0
                
            " 
            id="teachers-section"
        >
                    <div data-yuzu="/content/rows[3]/items[0]" class="">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                        <h2 class="section-title">
                            Our teachers
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
                </div>
            </div>
        </div>
    </div>
                    <script data-yuzu="/content/rows[3]/items[1]" type="x-template" id="teacher-profiles-component">
        <div class="container" data-initial='{"teachers":[{"headshot":{"src":"/_client/images/person_1.jpg","alt":""},"teacherName":"Benjamin Stone","position":"Physics Teacher","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eius suscipit delectus enim iusto tempora, adipisci at provident."},{"headshot":{"src":"/_client/images/person_2.jpg","alt":""},"teacherName":"Katleen Stone","position":"Physics Teacher","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eius suscipit delectus enim iusto tempora, adipisci at provident."},{"headshot":{"src":"/_client/images/person_3.jpg","alt":""},"teacherName":"Sadie White","position":"Physics Teacher","text":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro eius suscipit delectus enim iusto tempora, adipisci at provident."}],"nextPageEndpoint":"/api/getResolved/parTeacherProfiles_1","_ref":"/parTeacherProfiles","yuzu-path":"/content/rows[3]/items[1]"}'>
            <div class="row" v-for="teachers in rows">
                <div class="col-md-6 col-lg-4 mt-5 mb-4" v-for="(teacher, index) in teachers" v-bind:key="index" data-aos="fade-up" :data-aos-delay="(index + 1) + '00'">
                    <div class="teacher text-center">
                        <template v-if="teacher.headshot">
                            <img class="img-fluid  w-50 rounded-circle mx-auto mb-4" :src="teacher.headshot.src" :alt="teacher.headshot.alt"/>
                        </template>
                        <div class="py-2">
                            <template v-if="teacher.name">
                                <h3 class="text-black">
                                    {{teacher.teacherName}}
                                </h3>
                            </template>             
                            <template v-if="teacher.position">
                                <p class="position">
                                    {{teacher.position}}
                                </p>
                            </template>             
                            <template v-if="teacher.text">
                                <p>{{teacher.text}}</p>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 justify-content-center">
                <button class="btn btn-primary btn-pill" v-if="endpoint" v-on:click="fetchNextPage">
                    View more teachers
                </button>
            </div>
        </div>    
    </script>
    
    <div id="teacher-profiles-app">
        <teacher-profiles></teacher-profiles>
    </div>
    
    
    
                    <div data-yuzu="/content/rows[3]/items[2]" class="site-section bg-image overlay" style="background-image: url('/_client/images/hero_1.jpg');">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center testimony">
                        <img class="img-fluid w-25 mb-4 rounded-circle" src="/_client/images/person_4.jpg" alt=""/>
                        <h3 class="mb-4">Jerome Jensen</h3>
                        <blockquote>
                            <p>&ldquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum rem soluta sit eius necessitatibus voluptate excepturi beatae ad eveniet sapiente impedit quae modi quo provident odit molestias! Rem reprehenderit assumenda &rdquo;</p>
                        </blockquote>
                </div>
            </div>
        </div>
    </div>
        </div>
        <div  class="
                site-section
                
                pb-0
                
            " 
            
        >
                    <div data-yuzu="/content/rows[4]/items[0]" class="future-blobs">
        <div class="blob_2">
            <img src="/_client/images/blob_2.svg" alt="Image">
        </div>
        <div class="blob_1">
            <img src="/_client/images/blob_1.svg" alt="Image">
        </div>
    </div>
    <div class="container">
            <div data-yuzu="/content/rows[4]/items[0]/title" class="">
                <div class="container">
                    <div class="row mb-5 justify-content-center">
                        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                                <h2 class="section-title">
                                    Advantages
                                </h2>
                        </div>
                    </div>
                </div>
            </div>    <div class="row">
            <div class="col-lg-4 ml-auto align-self-start" data-aos="fade-up" data-aos-delay="100">
                <div class="p-4 rounded bg-white why-choose-us-box">
                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3">
                                    <span class="custom-icon-inner">
                                        <span class="icon icon-graduation-cap"></span>
                                    </span>
                            </div>
                            <div>
                                    <h3 class="m-0">22,931 Yearly Graduates</h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3">
                                    <span class="custom-icon-inner">
                                        <span class="icon icon-university"></span>
                                    </span>
                            </div>
                            <div>
                                    <h3 class="m-0">150 Universities Worldwide</h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3">
                                    <span class="custom-icon-inner">
                                        <span class="icon icon-graduation-cap"></span>
                                    </span>
                            </div>
                            <div>
                                    <h3 class="m-0">Top Professionals in The World</h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3">
                                    <span class="custom-icon-inner">
                                        <span class="icon icon-university"></span>
                                    </span>
                            </div>
                            <div>
                                    <h3 class="m-0">Expand Your Knowledge</h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3">
                                    <span class="custom-icon-inner">
                                        <span class="icon icon-graduation-cap"></span>
                                    </span>
                            </div>
                            <div>
                                    <h3 class="m-0">Best Online Teaching Assistant Courses</h3>
                            </div>
                        </div>
                        <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                            <div class="mr-3">
                                    <span class="custom-icon-inner">
                                        <span class="icon icon-university"></span>
                                    </span>
                            </div>
                            <div>
                                    <h3 class="m-0">Best Teachers</h3>
                            </div>
                        </div>
                </div>
            </div>
                <div class="col-lg-7 align-self-end" data-aos="fade-left" data-aos-delay="200">
                    <img class="img-fluid" src="/_client/images/person_transparent.png" alt=""/>
                </div>
        </div>
    </div>
        </div>
        <div  class="
                site-section
                
                
                bg-light
            " 
            id="contact-section"
        >
                    <div data-yuzu="/content/rows[5]/items[0]" class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                    <h2 class="section-title mb-3">Message Us</h2>
                    <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
                    <div data-aos="fade">
                            <form data-yuzu="/content/rows[5]/items[0]/form" action="#">
                                
                        
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label  class="d-block mb-0" title="">
                        	<input
                        		class="form-control" 
                        		type="text" 
                        		autocomplete="off"
                        		
                        		name="first-name" 
                        		placeholder="First name" 
                        		 
                        		 
                        		
                        		
                        		
                        	>
                        	<span class="sr-only"></span>
                        </label>
                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label  class="d-block mb-0" title="">
                        	<input
                        		class="form-control" 
                        		type="text" 
                        		autocomplete="off"
                        		
                        		name="last-name" 
                        		placeholder="Last name" 
                        		 
                        		 
                        		
                        		
                        		
                        	>
                        	<span class="sr-only"></span>
                        </label>
                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label  class="d-block mb-0" title="">
                        	<input
                        		class="form-control" 
                        		type="text" 
                        		autocomplete="off"
                        		
                        		name="subject" 
                        		placeholder="Subject" 
                        		 
                        		 
                        		
                        		
                        		
                        	>
                        	<span class="sr-only"></span>
                        </label>
                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label  class="d-block mb-0" title="">
                        	<input
                        		class="form-control" 
                        		type="text" 
                        		autocomplete="off"
                        		
                        		name="email-address" 
                        		placeholder="Email Address" 
                        		 
                        		 
                        		
                        		
                        		
                        	>
                        	<span class="sr-only"></span>
                        </label>
                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label  class="d-block mb-0" title="">
                        	<textarea class="form-control" 
                        		name="message"
                        		
                        		placeholder="Write your message here" 
                        		
                        		
                        		
                        		cols="30"
                        		rows="10"
                            ></textarea>
                        	<span class="sr-only"></span>	
                        </label>
                        
                                    </div>
                                </div>
                        
                        <div class="form-group row">
                            <div class="col-12">
                                <button class="btn btn-primary btn-pill" type="submit" >
                                    Send
                                </button>
                            </div>
                        </div>
                        
                            </form>
                    </div>
            </div>
        </div>
    </div>
        </div>

			</div>
				<footer  class="footer-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <h3>ABOUT ONESCHOOL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat dicta.</p>
            </div>

            <div class="col-md-3 ml-auto">
                    <h3>LINKS</h3>
                    <ul class="list-unstyled footer-links">
                            <li><a href="#home-section" title="">Home</a></li>                            
                            <li><a href="#courses-section" title="">Courses</a></li>                            
                            <li><a href="#programs-section" title="">Programs</a></li>                            
                            <li><a href="#teachers-section" title="">Teachers</a></li>                            
                    </ul>
            </div>

            <div class="col-md-4">
                    <h3>SUBSCRIBE</h3>                        
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto? Numquam, natus?</p>  
                
                
                <form accept-charset="utf-8" action="" method="" class="footer-subscribe">
                    <div class="d-flex mb-5">
                            <form  action="#">
                                
                        
                                <label  class="d-block mb-0" title="">
                        	<input
                        		class="form-control rounded-0" 
                        		type="text" 
                        		autocomplete="off"
                        		
                        		name="first-name" 
                        		placeholder="First name" 
                        		 
                        		 
                        		
                        		
                        		
                        	>
                        	<span class="sr-only"></span>
                        </label>
                        
                        
                            <button class="btn btn-primary btn-pill rounded-0" type="submit" >
                                Sign Up
                            </button>
                        
                            </form>
                    </div>
                </form>
            </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                           target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
		</div>

		<script src="/_client/js/jquery-3.3.1.min.js"></script>
		<script src="/_client/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/_client/js/jquery-ui.js"></script>
		<script src="/_client/js/popper.min.js"></script>
		<script src="/_client/js/bootstrap.min.js"></script>
		<script src="/_client/js/owl.carousel.min.js"></script>
		<script src="/_client/js/jquery.stellar.min.js"></script>
		<script src="/_client/js/jquery.countdown.min.js"></script>
		<script src="/_client/js/bootstrap-datepicker.min.js"></script>
		<script src="/_client/js/jquery.easing.1.3.js"></script>
		<script src="/_client/js/aos.js"></script>
		<script src="/_client/js/jquery.fancybox.min.js"></script>
		<script src="/_client/js/jquery.sticky.js"></script>
		<script src="/_client/js/main.js"></script>

		<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
		<script src="/_client/js/stimulus-app.js"></script>
		<script src="/_client/js/stimulus-comments.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="/_client/js/teacher-profiles-vue-app.js"></script>
	</body>
</html>
