# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master
- dev

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  version: '1.2.34'
  core_version: '1.0.48'
  import_version: '1.0.96.16'
  umbraco_version: '8.15.1'
  umbraco_forms_version: '8.7.6'
  ${{ if eq(variables['Build.SourceBranchName'], 'dev') }}:
    revision: $[ counter('.', 0) ]
    separator: '.'
  ${{ if eq( variables['Build.SourceBranchName'], 'master') }}:
    revision: ''
    separator: ''

name: $(version)$(separator)$(revision)

steps:
- task: Assembly-Info-NetFramework@2
  inputs:
    Path: '$(Build.SourcesDirectory)'
    FileNames: |
      **\AssemblyInfo.cs

      **\AssemblyInfo.vb
    InsertAttributes: false
    FileEncoding: 'auto'
    WriteBOM: false
    VersionNumber: '$(Build.BuildNumber)'
    FileVersionNumber: '$(Build.BuildNumber)'
    InformationalVersion: '$(Build.BuildNumber)'
    LogLevel: 'verbose'
    FailOnWarning: false
    DisableTelemetry: false

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '$(solution)'
    feedsToUse: 'select'
    vstsFeed: 'bfaa6bc6-9775-4d15-bf70-5bba69811803/0d5a2d7b-5eaa-444f-9208-7e7089885a00'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*test*.dll
      !**\*TestAdapter.dll
      !**\YuzuDelivery.Umbraco.Import.Tests.Integration.dll
      !**\obj\**
    searchFolder: '$(System.DefaultWorkingDirectory)'

- task: NuGetCommand@2
  displayName: Nuget Pack Core 
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Core\YuzuDelivery.Umbraco.Core.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";import_version="$(import_version)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Forms 
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Forms\YuzuDelivery.Umbraco.Forms.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";import_version="$(import_version)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Grid 
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Grid\YuzuDelivery.Umbraco.Grid.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";import_version="$(import_version)"'    

- task: NuGetCommand@2
  displayName: Nuget Pack Members 
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Members\YuzuDelivery.Umbraco.Members.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";y_umb_version="$(Build.BuildNumber)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Positional Content 
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\PositionalContent\YuzuDelivery.Umbraco.PositionalContent.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber)'

- task: NuGetCommand@2
  displayName: Nuget Pack Blocklist Editor
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\BlockList\YuzuDelivery.Umbraco.BlockList.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";y_umb_version="$(Build.BuildNumber)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Quickstart Web
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Quickstart\YuzuDelivery.Umbraco.Quickstart.Web.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";import_version="$(import_version)";umbraco_version="$(umbraco_version)";umbraco_forms_version="$(umbraco_forms_version)";y_umb_version="$(Build.BuildNumber)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Quickstart Core
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Quickstart\YuzuDelivery.Umbraco.Quickstart.Core.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";import_version="$(import_version)";umbraco_version="$(umbraco_version)";umbraco_forms_version="$(umbraco_forms_version)";y_umb_version="$(Build.BuildNumber)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Quickstart
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\Quickstart\YuzuDelivery.Umbraco.Quickstart.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties core_version="$(core_version)";import_version="$(import_version)";umbraco_version="$(umbraco_version)";umbraco_forms_version="$(umbraco_forms_version)";y_umb_version="$(Build.BuildNumber)"'

- task: NuGetCommand@2
  displayName: Nuget Pack Quickstart Example
  inputs:
    command: 'custom'
    arguments: 'pack "$(Build.SourcesDirectory)\src\QuickstartExample\YuzuDelivery.Umbraco.Quickstart.Example.nuspec" -OutputDirectory $(Build.ArtifactStagingDirectory) -Version $(Build.BuildNumber) -Properties y_umb_version="$(Build.BuildNumber)"'

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: 'bfaa6bc6-9775-4d15-bf70-5bba69811803/0d5a2d7b-5eaa-444f-9208-7e7089885a00'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'