<section class="py-5 py-md-6 bg-hero inverse" id="signup" style="background-image: url({{backgroundImage.src}})">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-md-auto text-center text-md-left pb-5 pb-md-0">
                <h1 class="display-3 text-white">{{title}}</h1>
                <p class="lead text-light">{{text}}</p>
            </div>
            <div class="col-md-5 ml-auto">
                <div class="card">
                    <div class="card-body p-4">
                        {{> parForm form }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>