<div class="course-page {{#each _modifiers}} course-page--{{this}}{{/each}}">
    {{#if header}}
        {{> parPageHeader header }}
    {{/if}}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="{{#if teacher}}col-lg-8 mb-5{{/if}}">
                    {{#if title}}
                        {{> parCourseTitle title }}
                    {{/if}}
                    {{#if content}}
                        {{> parCourseGrid content }}
                    {{/if}}
                    {{#if comments}}
                        {{> parComments comments }}
                    {{/if}}
                </div>
                {{#if teacher}}
                    <div class="col-lg-4 pl-lg-5">
                        {{> parCourseTeacher teacher }}
                    </div>
                {{/if}}
            </div>
        </div>   
    </div>
    {{#if courses}}
        {{{ modPartial 'parCourseList' courses 'course' }}}
    {{/if}}
</div>