<!doctype html>
<html data-frontend-environment="true">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">	
		
		<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">

		<link rel="stylesheet" href="/_client/fonts/icomoon/style.css">
		<link rel="stylesheet" href="/_client/fonts/flaticon/font/flaticon.css">
		
		<link rel="stylesheet" href="/_client/css/bootstrap.min.css">
		<link rel="stylesheet" href="/_client/css/jquery-ui.css">
		<link rel="stylesheet" href="/_client/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/_client/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/_client/css/jquery.fancybox.min.css">
		<link rel="stylesheet" href="/_client/css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="/_client/css/aos.css">

		<link rel="stylesheet" href="/_client/styles/style.css">
	</head>
	<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
		<script src="/yuzu-def-ui/websocketClient.js" defer></script>
		
		<div class="site-wrap">
			<div data-yuzu="/header" class="site-mobile-menu site-navbar-target">
			    <div class="site-mobile-menu-header">
			        <div class="site-mobile-menu-close mt-3">
			            <span class="icon-close2 js-menu-toggle"></span>
			        </div>
			    </div>
			    <div class="site-mobile-menu-body"></div>
			</div>   
			
			<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
			    <div class="container-fluid">
			        <div class="d-flex align-items-center">
			            <div class="site-logo mr-auto w-25">
			                <a href="/">
			                        <div class="site-header__company-name">
			                            OneSchool
			                        </div>
			                                    </a>
			            </div>
			            <div data-yuzu="/header/nav" class="mx-auto text-center">
			                    <nav class="site-navigation position-relative text-right" role="navigation">
			                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
			                                <li><a class="nav-link" href="#home-section" title="">Home</a></li>
			                                <li><a class="nav-link" href="#courses-section" title="">Courses</a></li>
			                                <li><a class="nav-link" href="#programs-section" title="">Programs</a></li>
			                                <li><a class="nav-link" href="#teachers-section" title="">Teachers</a></li>
			                        </ul>
			                    </nav>
			            </div>
			            
			            <div class="ml-auto w-25">
			                    <nav class="site-navigation position-relative text-right" role="navigation">
			                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
			                            <li class="cta"><a class="nav-link" href="#contact-section" title=""><span>Contact Us</span></a></li>
			                        </ul>
			                    </nav>
			                <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right">
			                    <span class="icon-menu h3"></span>
			                </a>
			            </div>        </div>
			    </div>
			</header>			<div class="content-root">
				
			</div>
				<footer data-yuzu="/footer" class="footer-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <h3>ABOUT ONESCHOOL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat dicta.</p>
            </div>

            <div class="col-md-3 ml-auto">
                    <h3>LINKS</h3>
                    <ul class="list-unstyled footer-links">
                            <li><a href="#home-section" title="">Home</a></li>                            
                            <li><a href="#courses-section" title="">Courses</a></li>                            
                            <li><a href="#programs-section" title="">Programs</a></li>                            
                            <li><a href="#teachers-section" title="">Teachers</a></li>                            
                    </ul>
            </div>

            <div class="col-md-4">
                    <h3>SUBSCRIBE</h3>                        
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto? Numquam, natus?</p>  
                
                
                <form accept-charset="utf-8" action="" method="" class="footer-subscribe">
                    <div class="d-flex mb-5">
                            <form data-yuzu="/footer/newsletterSection/form" action="#">
                                
                        
                                <label  class="d-block mb-0" title="">
                        	<input
                        		class="form-control rounded-0" 
                        		type="text" 
                        		autocomplete="off"
                        		
                        		name="first-name" 
                        		placeholder="First name" 
                        		 
                        		 
                        		
                        		
                        		
                        	>
                        	<span class="sr-only"></span>
                        </label>
                        
                        
                            <button class="btn btn-primary btn-pill rounded-0" type="submit" >
                                Sign Up
                            </button>
                        
                            </form>
                    </div>
                </form>
            </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                           target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
		</div>

		<script src="/_client/js/jquery-3.3.1.min.js"></script>
		<script src="/_client/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/_client/js/jquery-ui.js"></script>
		<script src="/_client/js/popper.min.js"></script>
		<script src="/_client/js/bootstrap.min.js"></script>
		<script src="/_client/js/owl.carousel.min.js"></script>
		<script src="/_client/js/jquery.stellar.min.js"></script>
		<script src="/_client/js/jquery.countdown.min.js"></script>
		<script src="/_client/js/bootstrap-datepicker.min.js"></script>
		<script src="/_client/js/jquery.easing.1.3.js"></script>
		<script src="/_client/js/aos.js"></script>
		<script src="/_client/js/jquery.fancybox.min.js"></script>
		<script src="/_client/js/jquery.sticky.js"></script>
		<script src="/_client/js/main.js"></script>

		<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
		<script src="/_client/js/stimulus-app.js"></script>
		<script src="/_client/js/stimulus-comments.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="/_client/js/teacher-profiles-vue-app.js"></script>
	</body>
</html>
