<div class="site-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="mb-5 text-black">{{title}}</h2>
                <p class="mb-0"><a href="{{link.href}}" title="{{link.title}}" class="btn btn-primary py-3 px-5 text-white">{{link.label}}</a></p>
            </div>
        </div>
    </div>
</div>