{{#each fieldsets}}
    {{#each fields}}
        <div class="form-group">
            {{{ dynPartial _ref this }}}
        </div>
    {{/each}}
{{/each}}
<div class="form-group">
    <button class="btn btn-primary text-white py-2 px-4 btn-block" type="submit">
        {{submitButtonText}}
    </button>
</div>