<div class="site-section">
    <div class="container">
        <div class="row">
            {{#each imageFeatures}}
                <div class="col-md-6 col-lg-4 mb-4">
                    {{> parImageFeature this }}
                </div>
            {{/each}}
        </div>
    </div>
</div>