<div class="site-section block-13">
    <div class="owl-carousel nonloop-block-13">
        {{#each imageFeatures}}
            <div>
                {{> parImageFeature this }}
            </div>
        {{/each}}
    </div>
</div>