.section-view .section-view__card {
    margin: 0 0 20px;
    padding-left: 0;
    width: auto;
    background-color: #fff;
    border-style: dashed;
    display: block;
}

.section-view .section-view__card:hover {
    background-color: rgb(253, 253, 255);
    border-style: solid;
}

.section-view__section {
    margin: 0 -10px;
    padding: 20px;
    display: flex;
    background: #f8fafc;
    border-radius: 2px;
}

.section-view__column {
    padding: 20px 10px 0 10px;
    background: #f1f5f9;
    border-radius: 2px;
}

.section-view__column:not(:hover) .umb-control-group .control-label {
    opacity: .25;
}

.section-view__column .umb-block-list__block--create-button {
    left: 0;
}

.section-view .controls {
    margin-left: 0;
}

.section-view__column:not(:hover) .umb-block-list__create-button {
    border-color: #e9e9eb;
}

/* Settings Wrapper */

.section-view__settings .umb-block-list__wrapper {
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: relative;
    top: 10px;
}

.section-view__settings .umb-control-group .control-header {
    display: none;
}

.section-view__settings .umb-block-list__block--create-button {
    display: none;
}
 

/* Create Button */
.section-view__settings .umb-block-list__actions {
    border: 0;
}

.section-view__settings .umb-block-list__create-button:after {
    content: 'Column Settings'
}

.section-view__settings .umb-block-list__create-button localize {
    display: none;
}

.section-view__settings .umb-block-list__create-button:disabled,
.section-view__settings .umb-block-list__clipboard-button:disabled {
    display: none;
}

/* Action Button */

.section-view__settings .umb-block-list__block {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section-view__settings .umb-block-list__block--view {
    display: inline-block;
    position: initial;
    width: auto;
    min-height: auto;
    border-radius: initial;
}

.section-view__settings .umb-block-list__block--actions {
    opacity: 0.2;
    position: initial;
    top: initial;
    right: initial;
}

.section-view__settings .umb-block-list__block:not(:hover) .umb-block-list__block--view {
    opacity: 0.2;
}


/* Content Styles */

.section-view__content .umb-control-group .control-header {
    position: relative;
    top: -30px;
    width: 75% !important;
}

.section-view__content umb-block-list__block--view {
    background-color: red;
}

.section-view__content article {
    height: auto !important;
    padding: 10px;
    border-radius: 10px;
    background: white;
}

/*reorder*/

.sections-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sections-wrapper:not(.is-reordering) .section-reorder-handle {
    display: none;
}

.yuzu-grid-reload {
    align-self: flex-end;
}

.section-reorder .section-view__content article {
    --preview-scale: 0.25;
    --preview-height: 400px;
    transform: scale(var(--preview-scale));
    transform-origin: left top;
    height: var(--preview-height) !important;
    margin-bottom: calc(-1 * (var(--preview-height) * (1 - var(--preview-scale))));
    overflow: hidden;
}

.section-reorder .umb-block-list__block--view {
    display: inline;
}

.section-reorder .section-view__column {
    padding-top: 10px;
}

.section-reorder .umb-block-list__block--actions,
.section-reorder .umb-block-list__actions, .section-reorder .control-header, .section-reorder .umb-block-list__block--create-button, .section-reorder .section-view__settings {
    display: none;
}
