<!DOCTYPE html>
<html lang="en">
<head>
    @*/////////////////////////////////////////////////////////////////////////
    // _Layout.cshtml is regenerated from _Layout.template.cshtml.
    // This takes place during the definition build process (npm run dist).
    //////////////////////////////////////////////////////////////////////////*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/_client/style/styles.f6bddcb546ffc2556861.css" rel="stylesheet"></head>
<body>
    <div class="layout">
        <h1>Yuzu TestProject</h1>
    </div>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
<script src="/_client/scripts/scripts.5211ba260c8898e37839.js"></script><script src="/_client/scripts/styles.6e5e6909f27da9c95f20.js"></script></body>
</html>
