{{#each rows}}
    {{#if columns.[0]}}
        <div class="row">
            {{#each columns}}
                    {{#if items.[0]}}
                        <div class="col-{{gridSize}}">
                            {{#each items}}
                                <div class="mb-4">
                                    {{{ dynPartial _ref this }}}
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
            {{/each}}
        </div>
    {{/if}}
{{/each}}
