<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>   

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="site-logo mr-auto w-25">
                <a href="/">
                    {{#if logo.src}}
                        <img class="site-header__logo" src="{{logo.src}}" alt="{{logo.alt}}" />
                    {{else if companyName}}
                        <div class="site-header__company-name">
                            {{companyName}}
                        </div>
                    {{/if}}
                </a>
            </div>
        {{#if nav}}
            {{> parSiteNav nav}}
        {{/if}}
        </div>
    </div>
</header>