<div class="{{#each _modifiers}} {{this}}{{/each}}">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                {{#if title}}
                    <h2 class="section-title">
                        {{title}}
                    </h2>
                {{/if}}
                {{#if text}}
                    <p>{{text}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>